.features {
  display: flex;
  align-items: center;
  padding: 5rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.storyset_attribution {
  margin-top: 2rem;
  font-size: 70%;
  font-style: italic;
  text-align: right;
}
.storyset_attribution a {
  color: var(--ifm-color-content-inverse);
}