/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 85vh;
}

.heroBanner h1 {
  font-size: 4rem;
  font-weight: 800;
}
.heroBanner h2 {
  font-size: 2.5rem;
}
.heroBanner p {
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  padding: 0 5rem;
}

.button {
  margin: 0 0.5rem;
}
.button .gh_icon {
  margin: 0 0.3rem -0.3rem 0;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    height: auto;
    padding: 1rem;
  }
  .heroBanner h1 {
    font-size: 2.5rem;
    font-weight: 800;
  }
  .heroBanner h2 {
    font-size: 2rem;
  }
  .heroBanner p {
    font-size: 1rem;
    padding: initial;
  }
  .buttons {
    flex-direction: column;
  }
  .button {
    margin: 0.5rem;
  }
}

.marquee img {
  max-width: 8rem;
  max-height: 8rem;
  margin: 0 1rem;
}

.integrations {
  background: var(--ifm-color-primary);
  padding: 4rem 0;
  color: var(--ifm-font-color-base-inverse);
}